<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="tests/bootstrap.php"
    backupGlobals="false"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    beStrictAboutCoversAnnotation="true"
    beStrictAboutOutputDuringTests="true"
    beStrictAboutTodoAnnotatedTests="true"
    failOnRisky="true"
    failOnWarning="true"
    verbose="true">
    <testsuites>
        <testsuite name="unit">
            <directory suffix="-test.php">./tests/unit</directory>
        </testsuite>
        <testsuite name="integration">
            <directory suffix="-test.php">./tests/integration</directory>
        </testsuite>
    </testsuites>
    <coverage>
        <include>
            <directory suffix=".php">./includes</directory>
        </include>
        <exclude>
            <directory>./includes/cli</directory>
        </exclude>
    </coverage>
    <php>
        <const name="WP_TESTS_DOMAIN" value="example.org"/>
        <const name="WP_TESTS_EMAIL" value="admin@example.org"/>
        <const name="WP_TESTS_TITLE" value="Tainacan OAI-PMH Test Site"/>
        <const name="WP_PHP_BINARY" value="php"/>
    </php>
</phpunit>
